<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ampl.Core" publicKeyToken="9da6c799e359b15f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.34.0" newVersion="2.1.34.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>