@{
  ViewBag.Title = "EditorForModel";
  ViewBag.SubTitle = "for simple types";
}
@section Heading { @ViewBag.Title }
@section SubHeading { @ViewBag.SubTitle }

<div class="row">
  <div class="col-md-4">
    <h2>String</h2>
    <p><code>EditorForModel()</code> for string.</p>
    <p>@Html.ActionLink("More »", "StringEditor", null, null, new { @class = "btn btn-default" })</p>
  </div>
</div>


