.__padding-top-0     { padding-top: 0;     }
.__padding-top-0-5em { padding-top: 0.5em; }
.__padding-top-1em   { padding-top: 1em;   }
.__padding-top-1-5em { padding-top: 1.5em; }
.__padding-top-2em   { padding-top: 2em;   }
.__padding-top-2-5em { padding-top: 2.5em; }
.__padding-top-3em   { padding-top: 3em;   }
.__padding-top-4em   { padding-top: 4em;   }
.__padding-top-5em   { padding-top: 5em;   }
.__padding-top-10em  { padding-top: 10em;  }

.__padding-bottom-0     { padding-bottom: 0;     }
.__padding-bottom-0-5em { padding-bottom: 0.5em; }
.__padding-bottom-1em   { padding-bottom: 1em;   }
.__padding-bottom-1-5em { padding-bottom: 1.5em; }
.__padding-bottom-2em   { padding-bottom: 2em;   }
.__padding-bottom-2-5em { padding-bottom: 2.5em; }
.__padding-bottom-3em   { padding-bottom: 3em;   }
.__padding-bottom-4em   { padding-bottom: 4em;   }
.__padding-bottom-5em   { padding-bottom: 5em;   }
.__padding-bottom-10em  { padding-bottom: 10em;  }
