@{
  ViewBag.Title = "About";
  ViewBag.SubTitle = "the application";
}
@section Heading { @ViewBag.Title }
@section SubHeading { @ViewBag.SubTitle }
@section LeadText { @ViewBag.Message }

<p>Use this area to provide additional information.</p>
