@{
  ViewBag.Title = "Contact";
  ViewBag.SubTitle = "information";
}
@section Heading { @ViewBag.Title }
@section SubHeading { @ViewBag.SubTitle }
@section LeadText { @ViewBag.Message }

<p>Contact information here.</p>
